:root {
    --bg-dark: #333;
    --text-light: #ccc;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

h1, #resultLog {
    background-color: #000;
    padding: 0.25rem;
    text-align: center;
}

h2 {
    text-align: center;
}

section {
    margin: 0.25rem;
    border: 1px solid var(--text-light);
}

#freeRollInput {
    display: flex;
    justify-content: space-around;
}

#freeRollButton {
    width: 100%;
}

#skillSectionInput {
    display: flex;
    justify-content: space-evenly;
}

#skillSection h2 {
    display: block;
}

#skillSection button {
    width: 100%;
}

select, input, button {
    background-color: var(--text-light);
    color: var(--bg-dark);
}

#rollButton {
    display: block;
}